<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${news.headerNews}]] &ndash; NEWSONLINE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" data-th-href="@{/css/styles.css}">
</head>
<body>
<h1 data-th-text="${news.headerNews}"></h1>
<div data-th-each="pic : ${news?.pictures}">
    <img data-th-src="@{/images/{image}(image=${pic.nameOfPicture()})}" width="500" data-th-alt="${pic.nameOfPicture()}"/>
</div>
<ul>
    <li><strong>Article: </strong> <span data-th-text="${news.articleId}"></span></li>
    <li><strong>Header: </strong> <span data-th-text="${news.headerNews}"></span></li>
    <li><strong>Date: </strong> <span data-th-text="${news.dateOfNews}"></span></li>
    <li><strong>Description: </strong> <span data-th-text="${news.shortDescription}"></span></li>
    <ul data-th-each="comment : ${news.comments()}">
        <li><strong>Comment:</strong> <span data-th-text="${comment.textComment()}"></span></li>
    </ul>
</ul>
<form method="post" data-th-action="@{/manager-api/news/{articleId}/add-comment(articleId=${news.articleId})}">
    <label>
        Написать комментарий:<br>
        <input type="text" name="textComment">
    </label><br>
    <button type="submit">Добавить комментарий</button>
</form>
<a data-th-href="@{/manager-api/news/{articleId}/edit(articleId=${news.articleId})}">&llarr; Редактировать</a><br>
<a data-th-href="@{/manager-api/news/list}">&llarr; К списку новостей</a>
<form method="post" data-th-action="@{/manager-api/news/{articleId}/delete(articleId=${news.articleId})}">
    <button type="submit">Удалить</button>
</form>
<script data-th-src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>