<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание новости &ndash; NEWSONLINE</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<a data-th-href="@{/manager-api/news/list}">&llarr; К списку запчастей</a>
<h1>Создание новости</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error:${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/manager-api/news/create}">
    <label>
        Артикль:<br>
        <input type="text" name="articleId" data-th-value="${news?.articleId()}">
    </label><br>
    <label>
        Заголовок новости:<br>
        <textarea type="text" name="headerNews" data-th-text="${news?.headerNews}" rows="10" cols="50"></textarea>
    </label><br>
    <label>
        Краткое описание:<br>
        <textarea type="text" name="shortDescription" data-th-text="${news?.shortDescription}" rows="10" cols="50"></textarea>
    </label><br>
    <label>
        Ссылка:<br>
        <input type="text" name="contentLink" data-th-value="${news?.contentLink()}">
    </label><br>
    <label>
        Опубликовано:<br>
        <input type="checkbox" name="isPublished" th:checked="${news?.isPublished}">
    </label><br>
    <label>
        Категория:<br>
        <select name="category">
            <option data-th-each="kind: ${section}" data-th-value="${kind}" data-th-text="${kind}"></option>
        </select>
    </label><br>
    <button type="submit">Создать</button>
</form>
</body>
</html>