<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" data-th-href="@{/css/fontello.css}">
    <link rel="stylesheet" data-th-href="@{/css/styles.css}">
    <title>Breaking News</title>
</head>
<body>
    <header>
        <div class="conteiner">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center text-white">News Online</h1>
                    <div class="itd_play">
                        <div class="itd_triangle"></div>
                    </div>
                    <a href="#footer" class="btn btn-itd btn-lg text-uppercase">Заказать</a>se
                </div>
            </div>
        </div>
    </header>
    <footer id="footer">
        1
    </footer>
<script data-th-src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>