<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новостная лента &ndash; NEWSONLINE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" data-th-href="@{/css/fontello.css}">
    <link rel="stylesheet" data-th-href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4 class="text-left text-secondary">News<span class="color-name">Online</span></h4>
            </div>
            <div class="col-6">
                <form method="get" data-th-action="@{/manager-api/news/list}" class="search-bar">
                    <label>по заголовку:<input type="text" name="headerNews" data-th-value="${headerNews}">
                    </label>
                    <label>по описанию:<input type="text" name="shortDescription" data-th-value="${shortDescription}">
                    </label>
                    <button type="submit">Поиск</button>
                </form>
            </div>
            <div class="col-3 search-bar logout">
                <form data-th-action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>
<main>
    <a data-th-href="@{/manager-api/news/create}">&llarr; Создать новую новость</a>
    <div class="nav-bar">
        <div class="nav-bar-title">
            <p class="nav-bar-cat">Категории</p>
            <div class="nav-bar-delimiter"></div>
        </div>
        <ul class="nav" data-th-each="kind : ${kindList}">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" data-th-href="@{/manager-api/news/{kindChange}(kindChange=${kind.name})}"
                   data-th-text="${kind.name}"></a>
        </ul>
    </div>
    <h3>Список новостей</h3>
    <div class="thumb-list-news">
        <div data-th-each="news : ${list}" >
            <a data-th-href="@{/manager-api/news/{articleId}(articleId=${news.articleId})}">
                <div th:if="${news?.pictures?.size() > 0}" class="image-container">
                    <img data-th-src="@{/images/{image}(image=${news?.pictures[0]?.nameOfPicture()})}" width="300" height="200" alt="картинка новости">
                    <div class="name-news" data-th-text="${news.headerNews}"></div>
                </div>
            </a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Заголовок</th>
            <th>Содержание</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="news : ${list}">
            <td data-th-text="${news.articleId}"></td>
            <td>
                <a data-th-href="@{/manager-api/news/{articleId}(articleId=${news.articleId})}"
                   data-th-text="${news.headerNews}"></a>
            </td>
            <td data-th-text="${news.shortDescription}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" data-th-href="@{/manager-api/news/list(pageNumber=${page - 1})}" data-th-if="${page > 1}">Предыдущая страница</a>
            </li>
            <li class="page-item">
                <a class="page-link" data-th-href="@{/manager-api/news/list(pageNumber=${page + 1})}">Следующая страница</a>
            </li>
        </ul>
    </nav>
    <script data-th-src="@{/js/bootstrap.bundle.min.js}"></script>
</main>

</body>
</html>